@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.snip1162 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 450px;
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

  

}
figure.snip1162 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
figure.snip1162 img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}
figure.snip1162 figcaption {
  position: absolute;
  top: 45%;
  left: 7%;
  right: 7%;
  bottom: 45%;
  border: 1px solid white;
  border-width: 0 1px 1px;
}
figure.snip1162 .heading {
  overflow: hidden;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
figure.snip1162 h2 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
}
figure.snip1162 h2 span {
  font-weight: 800;
}
figure.snip1162 h2:before,
figure.snip1162 h2:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: white;
  top: 50%;
}
figure.snip1162 h2:before {
  left: -1000%;
}
figure.snip1162 h2:after {
  right: -1000%;
}
figure.snip1162 p {
  top: 50%;
  font-size: 0.9em;
  font-weight: 500;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
}
figure.snip1162 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1162:hover img,
figure.snip1162.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip1162:hover figcaption,
figure.snip1162.hover figcaption {
  top: 7%;
  bottom: 7%;
}
figure.snip1162:hover p,
figure.snip1162.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}


#fire h1 {
	text-align: center;
	margin: 100px auto;
	font-family: 'Oswald', sans-serif;
	font-size: 100px; text-transform: uppercase;
	color: #fff;
	text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
    background-image: url(https://media.tenor.com/3QNUdJR3PUgAAAAi/twitch-youngmulti.gif);

}




html {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin: 0%;
    height: 100%;
    
}


